params {
    sample_sheet = "${PWD}/samples.tsv"
    atlas_u25 = "${HOME}/bioinformatics/UXM_deconv/supplemental/Atlas.U25.l4.hg38.tsv"
    atlas_u250 = "${HOME}/bioinformatics/UXM_deconv/supplemental/Atlas.U250.l4.hg38.full.tsv"
    outdir = "${HOME}/uxm_deconvolution_results"
}

process {
    executor = 'local'
    
    withName: MERGE_BAMS {
        cpus = 32
        memory = '128 GB'
    }
    
    withName: BAM_TO_PAT {
        cpus = 16
        memory = '64 GB'
    }
    
    withName: 'UXM_DECONV_.*' {
        cpus = 4
        memory = '16 GB'
    }
    
    withName: SUMMARIZE_RESULTS {
        cpus = 2
        memory = '8 GB'
    }
}

executor {
    name = 'local'
    cpus = 48
    memory = '200 GB'
    queueSize = 1    // Process samples one at a time
}

timeline.enabled = true
report.enabled = true
trace.enabled = true
